{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <div class="container col-md-4 alert alert-warning" role="alert">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. Please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="container col-md-4">
        <h2 class="mb-4 text-center">Login</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Remember me</label>
            </div>
            <button type="submit" class="btn btn-outline-primary w-100">Login</button>
        </form>
    </div>
{% endblock %}
